aiogram==2.11.2
aiohttp==3.7.3
anyio==3.6.1
apscheduler==3.9.1
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
cachetools==5.1.0
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cheroot==8.5.2
CherryPy==18.6.0
colorama==0.4.4
geojson==2.5.0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==2.10
jaraco.classes==3.2.0
jaraco.collections==3.1.0
jaraco.functools==3.1.0
jaraco.text==3.4.0
more-itertools==8.6.0
multidict==5.1.0
portend==2.7.0
pycparser==2.20
pyowm==3.1.1
PySocks==1.7.1
pyTelegramBotAPI==4.5.1
requests==2.25.1
rfc3986==1.5.0
six==1.15.0
sniffio==1.2.0
tempora==4.0.1
tornado==6.1
typing-extensions==3.7.4.3
tzdata==2022.1
tzlocal==4.2
ujson==4.0.2
urllib3==1.26.2
yarl==1.6.3
zc.lockfile==2.0
